<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Solution.UI.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="GridPageSize" value="50"/>
    <add key="StoreID" value="1"/>
    <add key="EncryptionKey" value="#encrky#"/>
    <add key="RedTag_CCTV_Ecomm_DBEntities" value="Data Source=KDPL36\SQLEXPRESS16,2433;Initial Catalog=HPD_Ecomm_DB_New;Persist Security Info=True;User ID=hpdusr;Password=Sql#2703;Connect Timeout=120"/>
    <!--<add key="RedTag_CCTV_Ecomm_DBEntities" value="Data Source=KAUSHALAM39\;Initial Catalog=VISOL_MultiStore_Ecomm_DB_Demo;Persist Security Info=True;User ID=sa;Password=Klm@2703;" />-->
    <add key="HPDAcctivate_DBEntities" value="Data Source=KDPL12;Initial Catalog=HPDAcctivate;Persist Security Info=True;User ID=sa;Password=Sql#2703;"/>
    <add key="GeneralStoreID" value="1"/>
    <add key="ImageRoot" value="~/images/"/>
    <add key="FilesRoot" value="~/files/"/>
    <add key="ECustomerXml" value="D:\E\Karan\Projects\TFSHPD\Source Code\23-Apr-2014\Solution.UI.Web\ECustomer.xml"/>
    <add key="EShipToXml" value="D:\E\Karan\Projects\TFSHPD\Source Code\23-Apr-2014\Solution.UI.Web\EShipTo.xml"/>
    <add key="catcheservername" value="http://localhost"/>
  </appSettings>
  <connectionStrings>
    <add name="RedTag_CCTV_Ecomm_DBEntities" connectionString="metadata=res://*/MdlMaster.csdl|res://*/MdlMaster.ssdl|res://*/MdlMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=KDPL36\SQLEXPRESS16,2433;Initial Catalog=HPD_Ecomm_DB_Beta_F;Persist Security Info=True;User ID=hpdusr;Password=Sql#2703;Connect Timeout=120;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="RedTag_CCTV_Ecomm_DBEntities" connectionString="metadata=res://*/MdlMaster.csdl|res://*/MdlMaster.ssdl|res://*/MdlMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=KAUSHALAM39\;Initial Catalog=VISOL_MultiStore_Ecomm_DB_Demo;Persist Security Info=True;User ID=sa;Password=Klm@2703;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="500" maxRequestLength="102400"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="VwdCms" namespace="VwdCms"/>
      </controls>
    </pages>
    <authentication mode="Windows"/>
    <customErrors mode="Off">
      <error redirect="/rewriter.aspx" statusCode="404"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/rewriter.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <applicationSettings>
    <Solution.UI.Web.Properties.Settings>
      <setting name="Solution_UI_Web_MicrosoftNavservice_Customer_Service" serializeAs="String">
        <value>http://64.6.174.36:7047/DynamicsNAV70/WS/HPD_ECOM_TEST/Page/Customer</value>
      </setting>
      <setting name="Solution_UI_Web_MicrosoftEShipTo_EShipTo_Service" serializeAs="String">
        <value>http://64.6.174.36:7047/DynamicsNAV70/WS/HPD_ECOM_TEST/Page/EShipTo</value>
      </setting>
      <setting name="Solution_UI_Web_ChargelogicPayment_EFT_API_2" serializeAs="String">
        <value>https://transact.chargelogic.com/ChargeLogic/WS/ChargeLogic/Codeunit/EFT_API_2</value>
      </setting>
    </Solution.UI.Web.Properties.Settings>
  </applicationSettings>
</configuration>