<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Solution.Bussines.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Solution.Bussines.Components.Properties.Settings>
            <setting name="Solution_Bussines_Components_Websitedata_Acctivateorder" serializeAs="String">
                <value>http://www.halfpricedrapes.com/Acctivateorder.asmx</value>
            </setting>
        </Solution.Bussines.Components.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
