<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RedTag_CCTV_Ecomm_DBEntities" connectionString="metadata=res://*/MdlMaster.csdl|res://*/MdlMaster.ssdl|res://*/MdlMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KDPL21\;initial catalog=HPD_Ecomm_DB;persist security info=True;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HPD_Ecomm_DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KDPL12\;initial catalog=HPD_Ecomm_DB;persist security info=True;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HPD_Ecomm_DBEntities1" connectionString="metadata=res://*/Testtt.csdl|res://*/Testtt.ssdl|res://*/Testtt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KDPL12\;initial catalog=HPD_Ecomm_DB;persist security info=True;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>